# Copyright (c) 2026 HubbleNetwork
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

menu "Hubble Network options"

config HUBBLE_DEVICE_KEY
    string "Cryptography key in base64"
    default ""
    help
	Hubble device's cryptographic key

config HUBBLE_RETRANSMISSION_FREQUENCY
    int "Internval between packet"
    default 4
    help
	Period between packets transmissions in a given window.

config HUBBLE_SAMPLE_ADV_FREQUENCY
    int "Frequency to generate new advertisment in seconds"
    default 28800 # 8 hours
    help
        The maximum time to generate a new advertisement packet.
	It must be less than 24h.

config APP_BLINK_LED
    bool "Blink LED during satellite transmission"
    select GPIO
    help
        Blink the LED on top of the device to inform when
	it is transmitting to satellite.

if APP_BLINK_LED

choice
	prompt "LED Color for Satellite transmission"
	default APP_LED_RED
	help
	    Select the led color for during satellite transmission.

config APP_LED_RED
	bool "Use red led"

config APP_LED_GREEN
	bool "Use green led"

config APP_LED_BLUE
	bool "Use blue led"

endchoice

endif # APP_BLINK_LED

endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"